/* add your CSS here */
.fact-one
{
  font-style: italic;
  color: rgb(32, 4, 4);
}

.facts-box
{
  font-weight: bold;
  color: rgb(26, 92, 92);
}

.facts-box
{
  list-style-type:none;
  color: darkblue;

}

div
{
  border-style: groove;
  color: rgb(18, 17, 27);
  width: 330px;
  padding: 20px 20px 5px 5px;
}

.inner-info
{
  
  border-style: groove;
  box-shadow: beige;
  width: 315px;
}

img
{
  align-items: center;
  width: 300px;
  padding: 20px 20px 5px 5px;
}